/* center a div in the screen with className app*/
*{
font-family: "Comic Sans MS";
color:#000f0f
}
.app{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.happy{
  background-color: #f3ec78;
  background-image: linear-gradient(45deg,#ff007f , #dc00fe );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color:#ff007f ;
  padding-top: 6px;
  padding-bottom: 9px;
}
.afooter{
  color:#f0f8ff;
  text-decoration: none;
}
